
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div data-toggle="modal" data-target="#Modal1">
    <div class="modal" id="Modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">HAKKIMDA</h2>
                </div>
                <from>
                    <div class="modal-body">

                    </div>
                </from>
            </div>
        </div>
    </div>
</div>